<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>


<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/clientes">
              <span data-feather="file"></span>
              Clientes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/veiculos">
              <span data-feather="shopping-cart"></span>
              Veículos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/usuarios">
              <span data-feather="shopping-cart"></span>
              Usuários
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/modelos">
              <span data-feather="shopping-cart"></span>
              Modelos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/patios">
              <span data-feather="shopping-cart"></span>
              Pátios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/vagas">
              <span data-feather="shopping-cart"></span>
              Vagas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cores">
              <span data-feather="shopping-cart"></span>
              Cores
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" style="margin-top: 10px;" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <router-outlet></router-outlet>
<!--      <div class="col-sm-offset-2 col-sm-8">-->
<!--        Nome : <input type="text" placeholder="Digite seu nome" pInputText (change)="onChangeEvent($event)"/>-->
<!--        <button pButton type="button" (click)="showMessages()" icon="fa fa-check" label="Mensagem"></button>-->
<!--        <p-growl [(value)]="msgs"></p-growl>-->
<!--      </div>-->
    </main>
  </div>
</div>

<p-growl [(value)]="msgs"></p-growl>


