<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center">Estacionamentos</h3>
      </div>
    </div>

    <div class="row" style="padding-bottom: 15px;">
      <a class="btn btn-primary" routerLink="/estacionamentos/adicionar">Novo Estacionamento</a>
    </div>
    <div class="row">
      <p-table [paginator]="true" [rows]="10" [columns]="cols" [value]="estacionamentos">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
            <th>
              Data de Entrada
            </th>
            <th>
              Data de Saída
            </th>
            <th>
              Cliente
            </th>
            <th>
              Veículo
            </th>
            <th>
              Vaga
            </th>
            <th>
              Valor Pago
            </th>
            <th class="text-center">
              Ações
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
            <td>
              {{rowData.entrada | date: 'dd/MM/yyyy - hh:mm:ss'}}
            </td>

            <td>
              {{rowData.saida | date: 'dd/MM/yyyy - hh:mm:ss'}}
            </td>
            <td>
              {{rowData.veiculo.cliente.nome}}
            </td>
            <td>
              {{rowData.veiculo.modelo.nome}}
            </td>
            <td>
              V.{{rowData.vaga.numero}} - {{rowData.vaga.patio.descricao}}
            </td>
            <td>
              {{!rowData?.valorPago && !rowData.saida ? "-" : rowData?.valorPago}}
            </td>
            <td>
              <button pButton type="button" (click)="recuperarRegistro(rowData)" icon="fa fa-edit" label="Editar"></button>&nbsp;&nbsp;
              <button pButton type="button" class="ui-button-danger" (click)="excluir(rowData)" icon="fa fa-trash" label="Excluir"></button>
              <button *ngIf="!rowData.valorPago > 0"  pButton type="button" class="ui-button-info" (click)="registrarSaida(rowData)" label="Registrar Saida"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
