<div class="col-md-12">
  <h2 class="text-center">Editar Vaga</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="numero">Número:</label>
      <input type="text" [(ngModel)]="vaga.numero" autofocus placeholder="Número" name="numero" class="form-control" id="numero">
    </div>

    <div class="form-group">
      <label>Pátio</label>
      <select placeHolder="Pátio" [(ngModel)]="vaga.patio" name="patio" class="form-control" id="patio">
        <option [selected]="vaga.patio.id === patio.id" *ngFor="let patio of patios" [ngValue]="patio">{{patio.descricao}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="status">Número:</label>
      <select placeHolder="Status" [(ngModel)]="vaga.status" name="status" class="form-control" id="status">
        <option [selected]="vaga.status == s.id" *ngFor="let s of statusVaga" [ngValue]="s.id">{{s.nome}}</option>
      </select>
    </div>

    <button class="btn btn-success">Atualizar</button>
  </form>
</div>
