<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center">Vagas</h3>
      </div>
    </div>

    <div class="row" style="padding-bottom: 15px;">
      <a class="btn btn-primary" routerLink="/vagas/adicionar">Nova Vaga</a>
    </div>
    <div class="row">
      <p-table [paginator]="true" [rows]="10" [columns]="cols" [value]="vagas">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
            <th>
              Pátio
            </th>
            <th class="text-center">
              Ações
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
            <td>
              {{rowData.patio.descricao}}
            </td>
            <td>
              <button pButton type="button" (click)="recuperarRegistro(rowData)" icon="fa fa-edit" label="Editar"></button>&nbsp;&nbsp;
              <button pButton type="button" class="ui-button-danger" (click)="excluir(rowData)" icon="fa fa-trash" label="Excluir"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
